Flask
Flask-SQLAlchemy
APScheduler
websockets
selenium
requests
redis
rq
prometheus_client
Flask-SocketIO
Flask-Caching
psutil
Flask-RESTX
Flask-WTF
Flask-Limiter
Flask-Talisman
Authlib
psycopg2-binary
Flask-JWT-Extended
python-dotenv
marshmallow
pyotp
