APScheduler
Authlib
Flask
Flask-Caching
Flask-JWT-Extended
Flask-Limiter
Flask-RESTX
Flask-SQLAlchemy
Flask-SocketIO
Flask-Talisman
Flask-WTF
marshmallow
prometheus_client
psutil
psycopg2-binary
pyotp
python-dotenv
redis
requests
rq
selenium
sentry-sdk
websockets

bcrypt
